.Navbar{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.Navbar a{
  text-decoration: none;
  color: black;
}
.Navbar_align{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #86aca8;
}
.Link_2{
  padding: .6rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: .6rem .6rem 0rem 0rem;
  position: relative;
  transition: all ease .3s;
}
.Link_2:hover {
  background-color: #dfddd9;
  
}
.Link_2:hover .dropDown1{
  z-index: 2;
  display: block;  
  opacity: 1;  /* Fade in */
  transform: translate(0);  /* Move to original position */
  
}
.dropDown1{
  position: absolute;
  left: -16.7rem;
  bottom: 0px;
  opacity: 0;
  display: none;
  transform: translateY(0); /* Position it slightly above */
  transition: opacity .5s ease, transform .5s ease; /* Smooth animation */
}
.nonDrop{
  font-size: 20px;
}





