
.crsl {
    position: relative;
    width: 100%;
    height: 26rem;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .carousel.carousel-slider .control-arrow {
  font-size: 20px !important;

}
.img_1{
  height: 26rem;
}
.carousel .control-arrow {
  background-color: rgb(0, 0, 0, 0.7) !important; 
    outline: 0 !important;
    top: 42% !important;
    height: 3rem !important;
    width: 3rem !important;
    border: 2px solid #fff !important; 
    border-radius: 50% !important; 
}
