ul {
  list-style: none;        /* remove default bullets */
  padding-left: 0;
}

.Department-List-Items {
  position: relative;
  padding-left: 25px;      /* space between arrow and text */
}

.Department-List-Items::before {
    content: "➤";
    color: var(--accent-color);
    color: #0056b3;
    font-weight: 700;
    left: 0;
    font-size: 1.1rem;
    position: absolute;
    top: 1px;
}

.Department-List-Items-red::before {
    color: #b30000;
}