.Department-List-Items {
  list-style-type: disc;
  margin-left: 1.25rem;
  padding-left: 0.25rem;
}

.Department-List-Items-red::before {
  color: #b30000;
}

.Department-List-Items-red::marker {
  color: #b30000;
}
