.Information_drop{
  background-color: aquamarine;
  position: relative;
}
.Information_drop_align{
  background-color: #90a880;
  width: 17rem;
  position: absolute;
  top: 0px;
  left: 16.7rem;
  border-radius: 0rem 0rem 1rem 1rem;
  z-index: 1;
}
.Info_link_1{
  padding: .7rem;
  font-size: 18px;
}
.Info_link_1:hover{
  background-color: #d8d0c2;
}