.FeePayment_drop{
  background-color: aquamarine;
  position: relative;
}
.FeePayment_drop_align{
  background-color: #90a880;
  width: 15rem;
  position: absolute;
  top: -1px;
  border-radius: 0rem 0rem 1rem 1rem;
  left: 16.7rem;
  z-index: 1;
}
.fee_link_1{
  padding: .7rem;
  font-size: 18px;
}
.fee_link_1 a{
  font-size: 20px;
}
.fee_link_1:hover{
  transition: all ease .3s;
  background-color: #d8d0c2;
}