.Administration_drop{
  background-color: aquamarine;
  position: relative;
}
.Administration_drop_align{
  background-color: #90a880;
  width: 15rem;
  position: absolute;
  top: -1px;
  border-radius: 0rem 0rem 1rem 1rem;
  left: 16.7rem;
  z-index: 1;
}
.adm_link_1{
  padding: .7rem;
  font-size: 18px;
}
.adm_link_1:hover{
  transition: all ease .3s;
  background-color: #d8d0c2;
}
.last_link:hover{
  background-color: #d8d0c2;
  border-radius: 0rem 0rem 1rem 1rem;
}
.Administration_table_links a{
  cursor: pointer;
}